{% extends 'main/base.html' %}
{% block body %}
<style>
    .center{
    margin-left: 750px;
    font-size: 40px;
    }
</style>
<div class="center">Вы выбрали Европу</div>
<div class="center">Отличный выбор!</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
<div class="col">
          <div class="card shadow-sm">
            <img src="https://smallbay.ru/images6/t6.jpg" alt="">
            <div class="card-body">
                <p class="card-text">Германия</p>
              <p class="card-text">Прекрасная страна с превосходной архитектурой</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
<div class="col">
          <div class="card shadow-sm">
              <img src="https://cms.enjourney.ru/upload/Jana/Italia/itpl.jpg" alt="">
            <div class="card-body">
              <p class="card-text">Италия</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>
<div class="col">
          <div class="card shadow-sm">
              <img src="https://cdnn21.img.ria.ru/images/155155/94/1551559471_0:134:3077:1865_1920x0_80_0_0_c4ac40bf037f7d7d3b6eb94e22789872.jpg" alt="">
            <div class="card-body">
              <p class="card-text">Чехия</p>
                <p class="card-text">хорошечно</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>


{%endblock%}
