{% extends 'main/base.html' %}
{% block body %}
<style>
    .center{
    margin-left: 750px;
    font-size: 40px;
    }
</style>
<div class="center">Вы выбрали Азию</div>
<div class="center">Отличный выбор!</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
<div class="col">
          <div class="card shadow-sm">
            <img src="https://cdnn21.img.ria.ru/images/07e4/06/10/1573018949_0:165:3058:1885_1920x0_80_0_0_587236b0d4e56cba5cc407a5789f4143.jpg" alt="">
            <div class="card-body">
                <p class="card-text">Москва</p>
              <p class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>
              </div>
            </div>
          </div>
        </div>
<div class="col">
          <div class="card shadow-sm">
              <img src="https://cdn2.tu-tu.ru/image/pagetree_node_data/1/4646af3618e50dcf2cbddfb325446f11/" alt="">
            <div class="card-body">
              <p class="card-text">Санкт-Петербург</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>
<div class="col">
          <div class="card shadow-sm">
              <img src="http://ic.pics.livejournal.com/ednovik/32614368/176224/176224_600.jpg" alt="">
            <div class="card-body">
              <p class="card-text">Канава</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </div>


{%endblock%}